<div class="match">
    <h5 class="matchName">{{dogName}}</h5>
    <div class="matchImage">
        <img class="otherDogImage" src="{{dogPic}}" alt="dogs pic" data-id="{{id}}">
    </div>

    <h5>View</h5>
    <button type="button" class="btn btn-primary interaction-modal" data-id="{{id}}">Make a Date</button>
    <button class="btn btn-primary otherDogBtn" data-id="{{id}}">View Profile</button>
    
    
</div>