<div class="match">
    <h5 class="matchName">{{dogName}}</h5>
    <div class="matchImage">
        <img class="otherDogImage" src="{{dogPic}}" alt="dogs pic" data-id="{{id}}">
    </div>
<<<<<<< HEAD
    <div class="dog-btns">
        <button class="btn interaction-modal" data-id="{{id}}">Invite</button>
        <button class="btn otherDogBtn dogProfileModal" data-id="{{id}}">Profile</button>
        {{!-- <a src="http://chittagongit.com//images/invite-icon/invite-icon-20.jpg" class="interaction-modal invite-icon" data-id="{{id}}"></a> --}}
        {{!-- <img src="http://chittagongit.com//images/invite-icon/invite-icon-20.jpg" class="interaction-modal invite-icon" data-id="{{id}}"></img> --}}
    </div>
=======
    <a src="http://chittagongit.com//images/invite-icon/invite-icon-20.jpg" class="interaction-modal invite-icon" data-id="{{id}}"></a>
    <button class="btn btn-primary otherDogBtn dogProfileModal" data-id="{{id}}">Profile</button>
    
    
>>>>>>> fab7f0600ea76963bcc65dda0ab524daf6cce366
</div>