<div class="match">
    <h5 class="matchName">{{dogName}}</h5>
    <div class="matchImage">
        <img class="otherDogImage" src="{{dogPic}}" alt="dogs pic" data-id="{{id}}">
    </div>
    <button class="btn btn-primary interaction-modal" data-id="{{id}}">Invite</button>
    {{!-- <a src="http://chittagongit.com//images/invite-icon/invite-icon-20.jpg" class="interaction-modal invite-icon" data-id="{{id}}"></a> --}}
    {{!-- <img src="http://chittagongit.com//images/invite-icon/invite-icon-20.jpg" class="interaction-modal invite-icon" data-id="{{id}}"></img> --}}
    <button class="btn btn-primary otherDogBtn dogProfileModal" data-id="{{id}}">Profile</button>
    
    
</div>