<!--TODO: change this from Dog info to Interaction info -->

<div class="userInteraction" data-id="{{id}}" data-ownerId="{{userId}}" data-dogId="{{invitedDog}}" data-status="{{status}}">
    <h3>{{location}}</h3>
    <h4 class="status">{{status}}</h4>
</div>