
<div class="userInteraction" data-id="{{id}}" data-ownerId="{{userId}}" data-dogId="{{invitedDog}}" data-status="{{status}}">

    <h3>{{location}}</h3>
    <h4 class="status">{{status}}</h4>
    {{!-- <a href="#interaction-detail" data-toggle="modal" class= "btn btn-small">Details</a> --}}
    <button type="button" class="btn interactionDeets" data-id="{{ id }}" data-dogId="{{invitedDog}}">Details</button>
    

</div>