<!--TODO: change this from Dog info to Interaction info -->

<div class="userInteraction" data-id="{{id}}" data-ownerId="{{userId}}"  data-status="{{status}}">
    <h3>{{location}}</h3>
    <h4 class="status">{{status}}</h4>
    {{!-- <a href="#interaction-detail" data-toggle="modal" class= "btn btn-small">Details</a> --}}
    <button type="button" class="btn btn-primary interactionDeets" data-id="{{ id }}" data-dogId="{{invitedDog}}">Details</button>
    

</div>